.App {
  text-align: center;
  box-sizing: border-box;
}

.CalcContainer{
  border: 5px solid rgb(0, 0, 0);
  width: 600px;
  margin: auto;
  
}

.DispContainer{
  border: 5px solid rgb(241, 241, 241);
  background-color:  rgb(1, 0, 5);
  color: white;
  
  
}
.ButtonsContainer{
  border: 5px solid rgb(201, 209, 201);
  display: flex;
  flex-wrap: wrap;
 
  
}


.ButtonsContainer > button {
  flex: 0 1 25%;
  font-size: 3em ;
  background-color: rgb(6, 20, 146);
  color: white;
  
}

.Display{
  font-size: 2em;
  text-align: right;
}
